# Local environment secrets
.env
.env.local
.env.*.local

# Next.js build tokens
.next/
node_modules/
.vercel
.env*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
